@model Model.Reservation
@{
    ViewData["Title"] = "Landing Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
<div class="row">
    <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
            @*  <div class="carousel-item active mw-100">
                <img src="~/img/west-city-hotel.jpg" style="width:100%;height:600px;" alt="...">
                </div>
                <div class="carousel-item active mw-100">
                <img src="~/img/istockphoto-838103468-612x612.jpg"  style="width:100%;height:600px;"  alt="...">
                </div>
                <div class="carousel-item active mw-100" >
                <img src="~/img/istockphoto-104731717-612x612.jpg"  style="width:100%;height:600px;"  alt="...">
                </div>*@
            <div class="carousel-item active mw-100">
                <img src="~/img/112f89b5e4adec3c84db90dc8760a26f.jpg" style="width:100%;height:600px;" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<hr />

<div class="row">
    <h4 class="display-6 text-center">Find a place nearby</h4>
</div>

<a class="nav-link text-white text-center" id="hotel" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden>Hotel & Homes</a>

<div class="row">

    <div class="col-md-12 text-center">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        <h3 class="text-center"> #1</h3>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col m-0">
                                    <div class="card" style="width: 100%;">
                                        <img src="~/img/istockphoto-838103468-612x612.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="card-text font-bold"><strong> Hartbeespoort</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col m-0">
                                    <div class="card" style="width: 100%;">
                                        <img src="~/img/istockphoto-838103468-612x612.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="card-text font-bold"><strong> Hartbeespoort</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card" style="width: 100%;">
                                        <img src="~/img/istockphoto-838103468-612x612.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="card-text font-bold"><strong> Hartbeespoort</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card" style="width: 100%;">
                                        <img src="~/img/istockphoto-838103468-612x612.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="card-text font-bold"><strong> Hartbeespoort</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <h4 class="display-6 text-center">Book your best Holiday Resort with Us </h4>
        <div class="col-md-12 text-center">
            <a class="btn btn-success " asp-area="" asp-controller="Reservation" asp-action="Create">Book Now</a>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Where to ? </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <select id="place" class="form-control form-control-lg" asp-items="@(SelectList)ViewBag.placeList">
                            <option disabled selected><i></i></option>
                        </select>
                    </div>
                    <div class="col">
                        <input asp-for="StartDate" id="txtStartDate" class="form-control form-control-lg " type="text" placeholder="Check-in" aria-label=".form-control-lg example">

                    </div>

                     <i class="fa fa-arrow-right col-1" aria-hidden="true"></i>
                    <div class="col">
                        <input asp-for="EndDate" id="txtEndDate" class="form-control form-control-lg" type="text" placeholder="Check-out" aria-label=".form-control-lg example">
                    </div>

                    <div class="col">
                        <select id="guest" class="form-control form-control-lg p-0" asp-items="@(SelectList)ViewBag.RType">
                            <option>Guests</option>
                        </select>
                    </div>
                    <div class="col">
                        <button id="hotelBtn" class="btn btn-lg  btn-outline-primary">Search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="~/js/hotel.js" type="text/javascript"></script>
}