@model Model.Reservation

@{
    ViewData["Title"] = "Create";
}
<script type="text/javascript" src="/scripts/jquery.min.js"></script>

<h1>Create Reservation</h1>

<hr />
<div class="container m-0">
    <form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">   
    <div class="col">
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelNumber" class="control-label"></label>
                <input asp-for="TelNumber" class="form-control" />
                <span asp-validation-for="TelNumber" class="text-danger"></span>
            </div>
     
        </div>

        <div class="col">
                <div class="form-group">
                    <label asp-for="ReservationType" class="control-label"></label>
                        <select asp-for="ReservationType"  class="form-control" asp-items="@(SelectList)ViewBag.RType">
                            <option>-select-</option>
                        </select>
                    <span asp-validation-for="ReservationType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>



            </div>
        </div>

            <div class="form-group pt-2">
                <input type="submit" value="Save" class="btn btn-primary" /> | 
                <a asp-action="Index">Back to List</a>
                </div>
    </form>
</div>

@*<div class="p-2">
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

