@model Model.Reservation

@{
    ViewData["Title"] = "Create";
}
<script type="text/javascript" src="/scripts/jquery.min.js"></script>

<h1 class="mt-5">Create Reservation</h1>

<hr />


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="model" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
  Launch demo modal
</button>


<!-- Modal -->

<script type="text/javascript">
$(document).ready(function(){

})
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

